    <h1><%= title %></h1>
    <p>Welcome to our test.</p>

    <div id="wrapper">
       <div id="userInfo">
           <h2>user info</h2>
           <p>
               <strong>Name:</strong>
               <span id="userInfoName"></span>
               <br/>
               <strong>Age:</strong>
               <span id="userInfoAge"></span>
               <br/>
               <strong>Gender:</strong>
               <span id="userInfoGender"></span>
               <br/>
               <strong>Location:</strong>
               <span id="userInfoLocation"></span>
               <br/>

           </p>
       </div>

        <h2>user list</h2>
        <div id="userList">
            <table>
                <thead>
                    <th>UserName</th>
                    <th>Email</th>
                    <th>Delete?</th>
                </thead>
                <tbody>

                </tbody>
            </table>
        </div>


        <h2>add user</h2>
        <div id="addUser">
            <fieldset>
                <input type="text" name="" id="inputUserName" placeholder="username"/>
                <input type="text" name="" id="inputUserEmail" placeholder="email"/>
                <br/>
                <input type="text" name="" id="inputUserFullName" placeholder="full name"/>
                <input type="text" name="" id="inputUserAge" placeholder="age"/>
                <br/>
                <input type="text" name="" id="inputUserLocation" placeholder="location"/>
                <input type="text" name="" id="inputUserGender" placeholder="gender"/>
                <br/>

                <button type="submit" id="btnAddUser">Add User</button>
            </fieldset>

        </div>
    </div>