<!DOCTYPE html>
<html>
  <head>
    <title>great tutorial</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <%- body%>
    <script src="javascripts/jquery-1.11.0.min.js"></script>
    <script src="javascripts/global.js"></script>
  </body>
</html>
